.list-card {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.card-book {
    width: calc(33% - 50px);
    min-width: 200px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-info-book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.container-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    min-width: 150px;
}

.container-action>button {
    max-height: 40px;
    margin: auto;
}

.titre-book {
    font-weight: bolder;
}